---
const {bg,bgAlt,type,s,m,flip} = Astro.props;
---
<div class="night">
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
    <div class="shooting_star"></div>
  </div>
  <style>
body {

}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -93px);
  left: calc(50% - 19px);
  -webkit-animation-delay: 2908ms;
          animation-delay: 2908ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 2908ms;
          animation-delay: 2908ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - -70px);
  left: calc(50% - 76px);
  -webkit-animation-delay: 264ms;
          animation-delay: 264ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 264ms;
          animation-delay: 264ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -141px);
  left: calc(50% - 56px);
  -webkit-animation-delay: 56ms;
          animation-delay: 56ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 56ms;
          animation-delay: 56ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - -126px);
  left: calc(50% - 222px);
  -webkit-animation-delay: 4277ms;
          animation-delay: 4277ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 4277ms;
          animation-delay: 4277ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 195px);
  left: calc(50% - 6px);
  -webkit-animation-delay: 2748ms;
          animation-delay: 2748ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 2748ms;
          animation-delay: 2748ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 77px);
  left: calc(50% - 205px);
  -webkit-animation-delay: 986ms;
          animation-delay: 986ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 986ms;
          animation-delay: 986ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 8px);
  left: calc(50% - 175px);
  -webkit-animation-delay: 173ms;
          animation-delay: 173ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 173ms;
          animation-delay: 173ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - -128px);
  left: calc(50% - 287px);
  -webkit-animation-delay: 7318ms;
          animation-delay: 7318ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 7318ms;
          animation-delay: 7318ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 168px);
  left: calc(50% - 48px);
  -webkit-animation-delay: 5636ms;
          animation-delay: 5636ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 5636ms;
          animation-delay: 5636ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -64px);
  left: calc(50% - 247px);
  -webkit-animation-delay: 8429ms;
          animation-delay: 8429ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 8429ms;
          animation-delay: 8429ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 174px);
  left: calc(50% - 139px);
  -webkit-animation-delay: 5401ms;
          animation-delay: 5401ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 5401ms;
          animation-delay: 5401ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - 110px);
  left: calc(50% - 11px);
  -webkit-animation-delay: 833ms;
          animation-delay: 833ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 833ms;
          animation-delay: 833ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 54px);
  left: calc(50% - 95px);
  -webkit-animation-delay: 9092ms;
          animation-delay: 9092ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 9092ms;
          animation-delay: 9092ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -188px);
  left: calc(50% - 75px);
  -webkit-animation-delay: 4069ms;
          animation-delay: 4069ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 4069ms;
          animation-delay: 4069ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 184px);
  left: calc(50% - 278px);
  -webkit-animation-delay: 3227ms;
          animation-delay: 3227ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 3227ms;
          animation-delay: 3227ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 130px);
  left: calc(50% - 229px);
  -webkit-animation-delay: 4926ms;
          animation-delay: 4926ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 4926ms;
          animation-delay: 4926ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - 107px);
  left: calc(50% - 99px);
  -webkit-animation-delay: 3362ms;
          animation-delay: 3362ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 3362ms;
          animation-delay: 3362ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - 48px);
  left: calc(50% - 148px);
  -webkit-animation-delay: 8217ms;
          animation-delay: 8217ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 8217ms;
          animation-delay: 8217ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - -158px);
  left: calc(50% - 34px);
  -webkit-animation-delay: 964ms;
          animation-delay: 964ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 964ms;
          animation-delay: 964ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -46px);
  left: calc(50% - 296px);
  -webkit-animation-delay: 7946ms;
          animation-delay: 7946ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 7946ms;
          animation-delay: 7946ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

  </style>
<div class={type + " hero"}>
  <img class="bg bg1" src={bg} alt={bgAlt}/>
  <img class="bg bg2" src={bg} alt={bgAlt}/>
  <img class="bg bg3" src={bg} alt={bgAlt}/>
  <mc-container>
    <mc-inner-container>
      <mc-grid s={s} m={m}>
        <slot/>
      </mc-grid>
    </mc-inner-container>
  </mc-container>
</div>
<style>
    
    .hero {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-shadow: 0 0 10px 1px rgba(0,0,0,.5) inset;
        padding-top:192px;
        padding-bottom:128px;
    }
    .hero > img.bg {
        position: absolute;
        width: 300%;
        min-width:130%;
        height: auto;
        min-height:120%;
        z-index: -1;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        animation: wander 20s infinite ease-in-out;
    }
    .hero img.bg2,.hero img.bg3,.hero img.bg4 {
        mix-blend-mode:color-burn;
        animation-delay: 300ms;
        opacity:50%;
        filter: blur(1px) brightness(1.2) saturate(1.2) contrast(1.2) hue-rotate(250deg);
    }
    .hero img.bg3 {
        animation-delay: 500ms;
        opacity:40%;
    }
    .hero img.bg4 {
        animation-delay: 1300ms;
        opacity:50%;
    }
    @media (max-width:900px) {
      
    }
    @keyframes wander {
        0% {
            transform: translate(-50%,-50%) rotate(0deg);
        }
        25% {
            transform: translate(-52%,-49%) rotate(3deg);
        }
        50% {
            transform: translate(-51%,-47%) rotate(-2deg);
        }
        75% {
            transform: translate(-49%,-50%) rotate(-6deg);
        }
        100% {
            transform: translate(-50%,-50%) rotate(0deg);
        }
    }
    .hero .content {
        position: relative;
        z-index: 1;
    }
    .hero .content .title {
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
        text-shadow: 0 0 10px rgba(0,0,0,.5);
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .hero .content .subtitle {
        font-size: 1.5rem;
        font-weight: 400;
        color: #fff;
        text-shadow: 0 0 10px rgba(0,0,0,.5);
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .hero .content .button {
        display: block;
        margin: 0 auto;
        padding: 1rem 2rem;
        background: #fff;
        color: #000;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
    }
    .hero .content .button:hover {
        background: #000;
        color: #fff;
    }
    .hero .content .button:active {
        background: #000;
        color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
    }
    .hero .content .button:focus {
        outline: none;
    }
    .hero .content .button:active:focus {
        outline: none;
    }
    .hero .content .button:active:hover {
        background: #000;
        color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
    }
    .hero .content .button:active:active {
        background: #000;
    }
</style>