---
const {title,content,bg,bgAlt,type,s,m,flip,buttonLink,buttonText} = Astro.props;
---
<div class={type + " hero"} style={{backgroundImage: "url("+bg+")"}} >
    <!-- <img class="bg bg1" src={bg} alt={bgAlt}/> -->
    <mc-container>
      <mc-inner-container>
        <mc-flex class="glass">
          <div class="content" style="flex-grow:1;">
            <h2>{title}</h2>
            <div>
                {content}
            </div>
          </div>
          <div class="button-container">
            <a class="button" href={buttonLink}><span>{buttonText}</span></a>
          </div>
        </mc-flex>
      </mc-inner-container>
    </mc-container>
  </div>
</div>

<style>
    .hero {
        position: relative;
        width: 100%;
        height: 100%;
        min-height:200px;
        overflow: hidden;
        box-shadow: 0 0 10px 3px rgba(0,0,0,1) inset;
        padding-top:64px;
        padding-bottom:64px;
        background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    }
    .parallax {

}

    .hero img.bg {
        position: absolute;
        width: auto;
        min-width:130%;
        height: auto;
        min-height:120%;
        z-index: -1;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(2);
    }---
    .buttons {
        display:flex;
        justify-content:flex-start;
    }
 .content h2, .content {
    color:#eeddff;
    text-shadow:2px 2px 2px #000000;
    margin:16px 0px;
    /* clip text*/
    
 }
 .content h2 {
    text-shadow:none;
    mix-blend-mode: luminosity;
    filter: drop-shadow(0 1px 1px #000000);
 }
 .glass {
    /*glassmorphism*/
    background: rgba(70, 0, 140, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 0, 50, 0.37 ), 3px 3px 6px 1px rgba( 31, 0, 50, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 0rem 2rem;
 }
 .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin:auto;
    }
    .button-container a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
        border:1px solid #aa00ff90;
        box-shadow:0 0 3px black ;
        mix-blend-mode: unset;
        padding:8px 24px;
        /* background-color:#8000ff50; */
        margin-right:16px;
        margin-top:16px;
        margin-bottom:16px;
        border-radius:5px;
        transition:300ms;
        background-clip: border-box;
        text-transform: uppercase;
        font-weight:700;
        font-size:1.3em;
    }
    .button-container a:hover {
        background-color:#8000ff20;
        border:1px solid #aa00ff;
        box-shadow:0 0 5px black ;
        filter: hue-rotate(-45deg);
        color:red;
    }
    .button-container a:hover span {
        color:#ff50ff;
        text-shadow:0 0 3px black ;
    }

    .button-container a span {
        color:white;
        text-shadow:none;
    }
    h2 {
      text-align:left;
    }
    @media(max-width:900px) {
      .content {
        text-align: center;
      }
      h2 {
        text-align: center;
      }
      mc-flex {
        flex-direction: column;
      }
    }
</style>